{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AMONIC-AIRLINES</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
  <div class="container">
    <div class="header">
      <button>Add User</button>
      <button>Exit</button>
    </div>
    <div class="content">
      <div class="office">
        <span>Office: </span>
        <select>
          <option>1</option>
          <option>2</option>
        </select>
      </div>
      <div class="table">
        <table>
          <thead>1</thead>
          <tbody>2</tbody>
        </table>
      </div>
      <div class="buttons">
        <button>Change Role</button>
        <button>Enable/Disable Login</button>
      </div>
    </div>
  </div>
</body>
</html>