{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AMONIC-AIRLINES</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
  <div class="container">
    <div class="header">
      <button class="header-button">Add User</button>
      <button class="header-button">Exit</button>
    </div>
    <div class="content">
      <div class="office">
        <span>Office: </span>
        <select>
          <option>1</option>
          <option>2</option>
        </select>
      </div>
      <div class="table">
        <table>
          <thead>
            <tr>
              <td>Name</td>
              <td>Last Name</td>
              <td>Age</td>
              <td>User Role</td>
              <td>Email Adress</td>
              <td>Office</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr class="red">
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="buttons">
        <button>Change Role</button>
        <button>Enable/Disable Login</button>
      </div>
    </div>
  </div>
</body>
</html>