* {
  padding: 0px;
  margin: 0px;
  border: none;
}

:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --main-green: #90ee8f;
  --main-red: #ff0000;
  --main-grey: #cccccc;
}

.container {
  width: 700px;
  margin: auto;
  border: 1px solid var(--main-black);
}

.header {
  padding: 1px 6px;
  border-bottom: 1px solid var(--main-black);
}

.content {
  margin: 3px 8px;
}

/* BUTTONS, SELECTORS etc. */

select {
  border: 1px solid var(--main-black);
  background-color: var(--main-white);
  cursor: pointer;
}

button {
  border: 1px solid var(--main-black);
  background-color: var(--main-white);
  cursor: pointer;
}

.header-button {
  border: 0;
}

/* TABLE */

table {
  border: 1px solid var(--main-black);
  border-collapse: collapse;
  margin: 5px 0;
}

thead {
  background-color: var(--main-grey);
}

thead > tr > td {
  border: 1px solid;
  padding: 5px 2px;
}

tbody > tr > td {
  border: 1px solid var(--main-black);
  border-top: 0;
  border-bottom: 0;
  padding: 1px;
}

tbody > .green {
  background-color: var(--main-green);
}

tbody > .red {
  background-color: var(--main-red);
  color: var(--main-white);
}
